<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'authenticate_user/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Вход в аккаунт</h1>
    <a href="/">Главная</a>
    <hr>
    {% if error %}
        <p class="error_message">{{ error }}</p>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <label>Username:</label><br>
        <input type="text" name="username"><br>
        <label>Password:</label><br>
        <input type="password" name="password"><br>
        <input type="submit" value="Войти">
      </form>
</body>
</html>